Options +FollowSymLinks -MultiViews
RewriteEngine On
RewriteBase /chinchilla

RewriteCond %{HTTPS} on
RewriteBase /chinchilla

ErrorDocument 404 index.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^$ index.php [QSA]

#file_check_start
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php?r=$1 [QSA,L]
#file_check_end

# This block is required to do HTTP digest authentication in environments where PHP is executed
# as a CGI.
RewriteCond %{HTTP:Authorization} !^$
RewriteRule .* - [E=PHP_AUTH_DIGEST:%{HTTP:Authorization},L]

# for maintenance.
#DirectoryIndex maintenance.php
#RewriteRule ^$ maintenance.php [QSA]
#DirectoryIndex index.php
#RewriteRule ^/?([a-zA-Z0-9/\.^\?^\&]+)/?$ maintenance.php [QSA,L]