header, section, nav,footer{
	display: block;
	text-align: left;
}
h1, h2, h3, h4, h5, h6{
	margin-bottom: .2em;
}
#header, #body, #footer{
	margin: 0 auto;
	width: 80%;
}

#footer{
	position: fixed;
	bottom: 0;
	left: 10%;
	right: 10%;
}

#user_message{
	border: solid 1px rgb(0,0,0);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background: rgb(0,0,0);
	color: rgb(255,255,255);
	padding: 10px;
}

nav a{
	display: inline-block;
	padding: 2px 7px 2px 7px;
	borer-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;	
}
nav a:hover{
	background: rgb(150,150,150);
	color: white;
}
nav a:active{
	background: rgb(100,100,100);
	color: white;
}