*::selection{
	background: #2B96F1;
	color: #fff;
}
body{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #FCFCFC url("../images/background.png") repeat-x;
	font-size: 16px;
}
header, section, nav, aside, time, footer{
	display: block;
	text-align: left;
}
h1, h2, h3, h4, h5, h6{
	font-family: myriad-pro-1, myriad-pro-2, sans-serif;
	margin-bottom: 10px;
	color: #1C1C1C;
	font-weight: 600;
}
h2{
	font-size: 30px;
	margin: 0 0 22px;
}
p{
	color: #333;
	font-size: 15px;
	line-height: 25px;
}
a{
	background-color: rgb(45,150,240);
	font-size: 13px;
	line-height: 1px;
	text-shadow: rgba(0,0,0.25);
	color: #fff;
	box-shadow: 1px 1px 3px rgba(0,0,0,.5);
	-webkit-box-shadow: 1px 1px 3px rgba(0,0,0,.5);
	-moz-box-shadow: 1px 1px 3px rgba(0,0,0,.5);
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	padding: 3px 10px 3px 10px;
	text-decoration: none;
}
a:active{
	background-color: rgb(35,120,190);
}
label{
	color: #4d4d4d;
	font-family: myriad-pro-1, myriad-pro-2, sans-serif;
	margin: 0 0 20px;
	font-size: 22px;
}
header aside{
	margin-bottom: 20px;
}
pre{
	margin: 0;
	padding: 0;
}

code{
	margin: 0;
	padding: 10px;
	display: block;
	line-height: 21px;
}
footer nav:first-child{
	margin: 0 auto;
	width: 530px;
}
footer small{
	font-size: .7em;
}
body:nth-child(2) section{
	padding-bottom: 50px;
}
#header, section, #footer{
	margin: 0 auto;
	width: 80%;
}
section article{
	background: #fff;
	padding: 0 10px 0 10px;
	border: solid 1px rgb(220,220,220);
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}
#header{
	margin-bottom: 20px;
}
#footer{
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	background: #2B96F1;
	color: #fff;
	padding: 7px 0 0 0;
	text-align: center;
	box-shadow: 0 0 4px rgba(50,50,50, .5);
	-webkit-box-shadow: 0 0 4px rgba(50,50,50, .5);
	-moz-box-shadow: 0 0 4px rgba(50,50,50, .5);
}
#footer p{
	margin: 0;
	padding: 0;
	color: #fff;
	line-height: 1em;
}
#user_message{
	border: solid 1px rgb(0,0,0);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background: rgb(0,0,0);
	color: #fff;
	padding: 10px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -40%;
	margin-top: -400px;
	width: 80%;
}
#user_message p
, #user_message h1{
	color: #fff;
}

#header h1 a{
	display: block;
	width: 192px;
	height: 172px;
	background: transparent url("../images/logo.png") 0 0 no-repeat;
	border: none;
	box-shadwo: none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
}
#header h1 a span{
	text-indent: -9999px;
	display: block;
}
.dark h1
, .dark p{
	color: #ffffff;
}
#console{
	position: fixed;
	top: 50%;
	left: -30%;
	width: 25%;
	background: rgba(0,0,0,.8);
	color: #fff;
	padding: 10px;
}
#console p{
	color: #fff;
}
#console_tab{
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	cursor: pointer;
	width: 82px;
	text-align: center;
	left: 0px;
	margin-left: -42px;
	position: fixed;
	top: 53%;
	z-index: 100000;
	line-height: 13px;
	letter-spacing: 5px;
}
#console.opened{
	left: 17px;
}
#console.closed{
	left: -30%;
}